<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <intuit>
    <ipp>
      <!--Json serialization not supported in PHP SDK v1.0.0 -->
      <message>
        <request serializationFormat="Xml" compressionFormat="None"/>
        <response serializationFormat="Xml" compressionFormat="None"/>
      </message>
      <service>
        <baseUrl qbd="https://quickbooks.api.intuit.com/" qbo="https://sandbox-quickbooks.api.intuit.com/v3/"/>
      </service>
    </ipp>
  </intuit>
  <appSettings>
    <!--These samples use a hard-coded realm ID and OAuth tokens.  Enter the values below. -->
    <add key="AccessToken" value="qyprdBaY782NpujfhyRwEaQStNHgFULkkPJGhcfqO8aFNZbm" />
    <add key="AccessTokenSecret" value="I5kt3Mi2XX2WParx8bepLMuCWnDDN76BcjXMrR8C" />
    <add key="ConsumerKey" value="qyprd4v9exfERxiilWmHnseqa4uriZ" />
    <add key="ConsumerSecret" value="fszlUrcWLqBQZIhhRa1Qyeq1v5sBe44zUPzMnVtp" />
    <add key="RealmID" value="1292686945" />
  </appSettings>
</configuration>